body{
    margin: 0;
    padding: 0;
}
header{
    background-image: url(../img/back3.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}
nav{
  position: fixed;
  width: 100%;
  transition: 1s;
}
nav.black{
  background-color: #fff;
}
nav .logo img{
  height: 60px;
  top: 18px;
  position: absolute;
  left: 40px;
  transition: .5s;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 50%;
}
nav.black .logo img{
  height: 40px;
  left: 40px;
}

ul{
  list-style: none;
  text-align: end;
  overflow: hidden;
  margin-right: 80px;
}
nav .menu ul li{
  display: inline-block;
  padding: 10px;
  margin-top: 20px;
  transition: 0.5s;
}
nav.black .menu ul li{
  margin-top: 0;
}
nav .menu ul li a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-size: 18px;
  transition: 0.3s;
}
nav.black .menu ul li a{
  color: rgb(247, 31, 132);
}

ul li a:hover{
  color: rgb(245, 0, 49);
}
.bord{
  border-bottom: 4px solid salmon;
}